<page>
   <div *ngIf="isLoaded" class="card-container transparent-border mt-2 mb-2">
      <div class="d-flex justify-content-between">
         <div></div>
         <div class="d-flex align-items-center pr-4">
            <h2>€{{ basketData | basketTotal }}</h2>
            <button pRipple class="btn btn-primary ml-3" (click)="confirmOrder()">Confirm Order</button>
         </div>
      </div>
      <p-dataView #dv [value]="basketData" [rows]="9" filterBy="name" layout="grid">
         <ng-template let-basketItem pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
               <div class="card">
                  <div class="d-flex align-items-center justify-content-center p-2">
                     <img title="{{basketItem.productItem.description}}" [src]="basketItem.productItem.imageLink" style="height: 12rem"/>
                  </div>
                  <div class="d-flex align-items-center justify-content-center p-2">
                     <label><b>{{basketItem.productItem.name}}</b></label>
                  </div>
                  <div class="d-flex align-items-center justify-content-center p-2">
                     <label class="text-truncate" style="max-width: 16rem;">{{basketItem.productItem.description}}</label>
                  </div>
                  <div class="d-flex align-items-center justify-content-between m-2">
                     <label>€{{basketItem.productItem.price}}</label>
                     <p-button pRipple icon="pi pi-trash" (click)="removeFromBasket(basketItem)"></p-button>
                  </div>
               </div>
            </div>
         </ng-template>
      </p-dataView>
   </div>
</page>
