<page>
   <div *ngIf="isLoaded" class="card-container transparent-border mt-2 mb-2">
      <p-dataView #dv [value]="pizzaData" [rows]="9" filterBy="name" layout="grid">
         <ng-template let-pizza pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
               <div class="card">
                  <div class="d-flex align-items-center justify-content-center p-2">
                     <img title="{{pizza.description}}" [src]="pizza.imageLink" style="height: 12rem"/>
                  </div>
                  <div class="d-flex align-items-center justify-content-center p-2">
                     <label><b>{{pizza.name}}</b></label>
                  </div>
                  <div class="d-flex align-items-center justify-content-center p-2">
                     <label class="text-truncate" style="max-width: 16rem;">{{pizza.description}}</label>
                  </div>
                  <div class="d-flex align-items-center justify-content-between m-2">
                     <label>€{{pizza.price}}</label>
                     <p-button pRipple icon="pi pi-shopping-cart" (click)="addToBasket(pizza)"></p-button>
                  </div>
               </div>
            </div>
         </ng-template>
      </p-dataView>
   </div>
</page>
