
  <div class="side-nav-container">
    <div class="side-nav" *ngIf="navLoaded">
        <div class="d-flex top-section align-items-center justify-content-between">
            <div class="logo-container">
                <!--IMG - Logo -->
                <div class="logo-sm"></div>
            </div>
        </div>
        <div class="nav flex-column pt-2">
            <div *ngFor="let navMenu of navigationMenu; let i = index">
                <button class="btn btn-nav-link text-left d-flex align-items-center w-100 justify-content-between" (click)="navToPage(navMenu);" title="{{ navMenu.navMenuTitle }}">
                    <span class="mb-1">{{ navMenu.navMenuName }}</span>
                    <i class="pi pi-angle-right"></i>    
                </button>
            </div>
        </div>    
    </div>
</div>