/*
    # Colours
    # Styling
        ## Body
*/

// # Colours
$green-1: #037455;
$green-2: #009775;
$green-3: #77A78C;
$green-4: #DFEEE8;
$grey-1: #333333;
$grey-2: #595959;
$grey-3: #808080;
$grey-4: #a6a6a6;
$grey-5: #cccccc;
$grey-6: #e6e6e6;
$grey-7: #f3f3f3;
$orange-1: #cc6600;
$orange-2: #ff8000;
$orange-3: #ff9933;
$orange-4: #ffb366;
$orange-5: #ffcc99;
$orange-6: #ffe6cc;
$blue-1: #0073e6;
$blue-2: #1a8cff;
$blue-3: #3399ff;
$blue-4: #66b3ff;
$blue-5: #99ccff;
$blue-6: #cce6ff;
$blue-7: #e6f2ff;

// # Styling
.app-container {
    // ## Body
    background-color: $grey-6;
    color: $grey-2;
}
